@mixin fullWidthAndScroll {
  overflow: auto;
  width: 100%;
}

.ref-book-layout {
  @include fullWidthAndScroll();

  display: flex;
  flex-direction: row;
  justify-content: center;

  &__data-table {
    @include fullWidthAndScroll();

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
}
